@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
   background-color: rgba(255, 255, 255, 0.87);
 color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hamburger{
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;

}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
  position: absolute;
  top:0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000;
  transform: rotate(0);
  transition: all 0.5s;

}

.hamburger-middle{
  transform: translateY(7px);
}
.hamburger-bottom{
  transform: translateY(14px);
}

.open{
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle{
 display: none;
}
.open .hamburger-bottom{
transform: translateY(14px);
}